argcomplete
azure-core
azure-identity
azure-storage-blob
barman[azure,cloud,google,snappy]
boto3
botocore
cachetools
certifi
cffi
charset-normalizer
cryptography
google-api-core
google-auth
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
idna
isodate
jmespath
msal
msal-extensions
portalocker
protobuf
pyasn1
pyasn1-modules
pycparser
pyjwt[crypto]
python-dateutil
python-snappy
requests
rsa
s3transfer
six
typing-extensions
urllib3
